<div class="container">
  <div class="row">
    <div class="col-md-4 col-offset-1">
      <%= image_tag @player.avatar.url(:medium), class: "img-circle" %>
    </div>
    <div class="col-md-7">
      <h1>
        <%= @player.full_name %>
        <%= link_to edit_player_path(@player), class: "btn btn-default button-xs" do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </h1>
      <% @player.matches.each do |match| %>
      <ul class="list-unstyled">
        <li>
          <span class="badge badge-large"><%= @player.score(match) %></span> 
          <%= link_to match.date.to_formatted_s(:long), match %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
</div>
