<div class="container">
  <div class="row">
    <div class="col-md-3 col-offset-1">
      <%= @player.medium_avatar %>
    </div>
    <div class="col-md-5">
      <h1>
        <%= @player.full_name %>
        <%= link_to edit_player_path(@player), class: "btn btn-default button-xs" do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </h1>
      <% @player.matches.each do |match| %>
      <ul class="list-unstyled">
        <li>
          <span class="badge badge-large"><%= @player.score(match) %></span>
          <%= match.long_date %>
        </li>
      </ul>
      <% end %>
    </div>
    <div class="col-md-4"><br>
      <div class="text-center">
        <ul class="list-unstyled">
          <li class="well">
            <h3>Win rate</h3>
            <span class="badge badge-large"><%= @player.win_rate %></span><br>
          </li>
          <li class="well">
            <h3>Matches won</h3>
            <span class="badge badge-large"><%= @player.matches_won %></span><br>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
