<h1> Create match </h1>

<%= form_for @match do |f| %>
  <%= render 'layouts/error_messages', object: @match %>

<div>
  Choose two players
  <%= f.collection_check_boxes :player_ids, Player.all, :id, :full_name %>
</div>

<div>
  Pick a starting date
  <%= f.datetime_select :date %>
</div>

  <%= f.submit %>
<% end %>
