<div class="container text-center">
  <div class="col-md-4 col-md-offset-4">
    <div id="match-result">
      <%= render "matches/match_result" %>
    </div>
    <div class="unobtrusive-flash-container"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @first_player.avatar.url(:thumb), class: "img-circle" %>
      <h3><%= link_to @first_player.full_name, @first_player %></h3>
      <h1><span id="first-player-score"><%= @first_player.score(@match) %></span></h1>
      <div id="first-result">
        <%= render "matches/first_result" %>
      </div>
    </div>
    <div class="col-md-6">
        <%= image_tag @second_player.avatar.url(:thumb), class: "img-circle" %>
        <h3><%= link_to @second_player.full_name, @second_player %></h3>
        <h1><span id="second-player-score"><%= @second_player.score(@match) %></span></h1>
        <div id="second-result">
          <%= render "matches/second_result" %>
        </div>
    </div>
</div>
