<h1> Match </h1>

<div>
  <%= @first_player.full_name %><br>
  <%= @first_player.score(@match) %>
  <% if @first_player.has_won?(@match) %>
    <h4> WINNER </h4>
    <% @match.finish %>
  <% elsif @second_player.has_won?(@match) %>
    <h4> looser </h4>
  <% else %>
    <%= button_to "Goal!", first_player_goal_match_path(@match), method: 'put' %>
  <% end %>
</div>

<div>
  <%= @second_player.full_name %><br>
  <%= @second_player.score(@match) %>
  <% if @second_player.has_won?(@match) %>
    <h4> WINNER </h4>
    <% @match.finish %>
  <% elsif @first_player.has_won?@match %>
    <h4> looser </h4>
  <% else %>
    <%= button_to "Goal!", second_player_goal_match_path(@match), method: 'put' %>
  <% end %>
</div>


