<!DOCTYPE html>
<html>
<head>
  <title>Foosy</title>
  <%= favicon_link_tag 'f.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>
  <%= render "layouts/navbar" %>
  <%= render "layouts/flash_messages" if flash.present? %>
  
  <%= yield %>
<div class="bottom">

</body>
</html>
